html{
    width:90%;
    height:100%;
    margin: auto;
    padding: 0;
    font-size: 62.5;
    box-sizing: border-box;
}
body{
    
    background-color: yellow;
    font-size: 20px;
    
} 
header{
    
    
    height:50px;
    margin:0;
    padding:0;
    border:solid 5px;
    box-sizing: border-box;
    background-color: red;
    color: whitesmoke;
    text-align: center;
    
    
    
}
section{
    
    height:320px;
    margin:0;
    padding:0;
    background-color: green;
    text-align: center;
    
    }
#img{
    margin:50px;
}
#sec2{
    
    height:150px;
    margin: 0;
    padding: 0;
    background:blue;
    color:wheat
    
}
#sec3{
    
    height:140px;
    margin:0;
    padding:0;
    background-color: purple;
    
}
p{
    word-wrap: break-word;
}
#button{
    margin:50px;
}
footer{
    
    height:100px;
    margin:0;
    padding:0;
    background-color: pink;
        
}
    




